
.Panel{
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    color: rgb(68, 68, 68);
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.45;
    font-size: 15px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 3px;
    background-color: rgb(255, 255, 255);
    
}
  .m-input-element.m-input-hasIcon {
    padding-right: 0.75rem !important;
}
  .headline{
     font-size: 25px !important;text-align: center;
  }
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @keyframes appear { from { transform :translateY(20px); } to { transform :none;; } }
  .fade-in{
    transition: transform 2s;
    opacity: 0;
    animation:fadeIn ease-in 1,appear ease-in 1s;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
  }

 .intro-header {
   margin-top: 0px!important;
   background: url('Metro1.png') no-repeat center center;
   background-size: cover;
}
  .w {
    background-color: rgba(247, 255, 248, 0.36)  !important;
    
}