
.Panel{
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    color: rgb(68, 68, 68);
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.45;
    font-size: 15px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 3px;
    background-color: rgb(255, 255, 255);
    
}
  .m-input-element.m-input-hasIcon {
    padding-right: 0.75rem !important;
}
  .headline{
     font-size: 25px !important; border-bottom: 1px solid #1a3c7b !important ;background-color:beige !important ;text-align: center;
  }
 .MuiSnackbarContent-root
 {
   background-color: #1a3c7b!important;
 }
  #acard:hover
  {
    background-color: #e6e6e6;
  }
  .hl{
     font-size: 25px !important;text-align: center;margin-top: -60px
  }